# 画像ファイルを無視
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.svg
*.webp

# 動画ファイルを無視
*.mp4
*.mkv
*.avi
*.mov
*.wmv
*.flv
*.webm
*.m4v
*.3gp
*.3g2

#VSCode無視
*.vscode

#.env無視
*.env

# MySQLデータベース
mysql/
my.cnf/

#phpMyAdmin
phpmyadmin/sessions/

# ログファイル
*.log

# Dockerの設定ファイル（ビルドに関連するもの）
.dockerignore
docker-compose.override.yml
docker-build.log

#php
php/php.ini

my.conf

#react用
.DS_STORE
node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo

#laravel用-----------
/backend/laravel/vendor/
/backend/laravel/*.env
/backend/laravel/.env.*  # 環境設定ファイル（個別の環境設定ファイルを無視）
/backend/laravel/storage/
/backend/laravel/bootstrap/cache/
/backend/laravel/node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
#---------------------

#build
frontend/app/build
frontend/app/node_modules